@charset "uft-8";
* {margin: 0; padding: 0;}
ul, li {list-style: none;}
a {text-decoration: none; color: black;}

div.wrap {width: 85%; margin: 100px auto 0;}
div.wrap table {width: 100%; border-collapse: collapse; text-align: center; font-size: 1rem;}
div.wrap table caption {font-size: 24px; margin-bottom: 60px;}
div.wrap table thead tr {border-bottom: 1px solid #484848; border-top: 1px solid #CACACA;}
div.wrap table thead tr th {padding: 1rem;}
div.wrap table thead tr th:nth-child(2) {width: 50%;}
div.wrap table tbody tr {border-bottom: 1px solid #CACACA;} 
div.wrap table tbody tr td {padding: 0.8rem;}
div.wrap table tbody tr td:nth-child(2):hover {text-decoration: underline;}

div.wrap div.btn_write {text-align: right; margin-top: 15px;}
div.wrap div.btn_write a {padding: 10px 25px; display: inline-block; border-radius: 10px; background-color: #D9D9D9;}
div.wrap div.btn_write a:hover {text-decoration: underline;}

div.wrap div.paging {text-align: center; margin-top: 10px;}
div.wrap div.paging a {padding: 5px; line-height: 100%;}
div.wrap div.paging a:hover,
div.wrap div.paging a.on {background-color: black; color: white; text-decoration: underline;}
div.wrap div.paging a.btn_paging {letter-spacing: -4px;}
div.wrap div.paging a:not(:first-child) {margin-left: 5px;}

@media screen and (max-width:767px) {

    div.wrap table thead tr th:nth-child(1),
    div.wrap table thead tr th:nth-child(3),
    div.wrap table thead tr th:nth-child(4),
    div.wrap table tbody tr td:nth-child(1),
    div.wrap table tbody tr td:nth-child(3),
    div.wrap table tbody tr td:nth-child(4) {display: none;}
    div.wrap table thead tr th:nth-child(2) {width: 75%;}

    div.wrap div.btn_write {text-align: center;}
    div.wrap div.btn_write a {display: block;}
}